<!-- parent.component.html -->

<app-filter [all]="total"
  [computers]="totalComputer"
  [householdProducts]="totalHouseHoldProduct"
  [beautyHealth]="totalBeautyHealth"
  [pharmacy]="totalPharmacy"
  [childrenGood]="totalChildrenGoods"
  (onchange)="onfilteredChanged($event)"></app-filter>

  <div id="box">
    <div *ngFor="let product of filteredProducts" class="items">
      <app-product-item [product]="product"></app-product-item>
      <button type="button" onclick=removeProduct()>KILL</button>
    </div>
  </div>
  
  